<header class="index_header">
<%= link_to "Add a New Picture", "/pictures/new", class: "link_top" %> | <%= link_to "View All Pictures", "/pictures/viewall", class: "link_top" %>
</header>

<h2>
Showing: Most Recent <%= @most_recent_pictures.count %> Pictures
</h2>

<div class="all_photos">
<% @most_recent_pictures.each do |picture| %>
<div class="photo_container">
  <%= link_to image_tag(picture.url), "/pictures/#{picture.id}" %>
  <p><%= picture.title %>, <%= picture.artist %></p>
</div>
<% end %>
</div>
